<h1>Bitbucket POST hook to irker converter</h1>
<p>This app is designed to accept POST calls from the bitbucket post-commit
hook and convert them into irker notifications. If you're seeing this
web-page, the app is running.</p>
